
.productsPageWrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}
.goBackButton {
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-bottom: 1px solid #082748;
    border-radius: 20px;
    padding: 10px 10px;
    color: #082748;
    font-weight: bold;
    background-color: transparent;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: absolute;
    top: 10;
    left: 20px;
    font-size: 12px;
}

.goBackButton:hover,
.goBackButton:focus {
    background-color: #0056b3;
    color: white;
}

.activeButton {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
}