.productList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;
    align-items: center;
    justify-content: center;
}

.productListButton {
    display: flex;
    align-items: en;
    justify-content: end;
    gap: 20px;
    margin-bottom: 20px;
    
}

.button {
    border-radius: 200px;
    font-weight: 500;
    font-family: var(--font-family);
    line-height: 1.5;
    letter-spacing: -0.01em;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 5px 10px;
}

.button:hover,
.button:focus {
    background-color: bisque;
}