.productList {
    margin: 0 auto;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;
    align-items: start;
    justify-content: center;
    position: relative;
}

.productListButton {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-bottom: 20px;
    
}

.button {
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 160px;
    border-bottom: 1px solid #082748;
    border-radius: 20px;
    padding: 10px 20px;
    color: #082748;
    font-weight: bold;
    background-color: transparent;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.button:hover,
.button:focus {
    background-color: #0056b3;
    color: white;
}

.activeButton {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
}

.searchBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;

}

.noResultsMessage {
    font-size: 16px;
    color: #ff0000;
    position: absolute;
    bottom: 0;
}