.addProductPage {
    display: flex;
    padding: 10px;
    gap: 20px;
    justify-content: space-around;

}

.addProductPageTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}