.filterContainer {
    display: flex;
    flex-direction: column;
}

.filterLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
}

.filterCheckbox {
    margin-right: 8px;
}

/* Додайте інші стилі за потреби */