.productItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 240px;
    margin: 0 auto;
}

.productTitle {
    font-size: 12px;;
    margin-bottom: 8px;
}

.productText {
    font-size: 10px;
}

.productImg {
    max-width: 100%;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.productBtnWrap {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
}

.editButton,
.deleteButton,
.togglePublishedButton {
    text-align: center;
    width: 80px;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
}

.editButton {
    background-color: #1e88e5;
    color: white;
}

.deleteButton {
    background-color: #e57373;
    color: white;
}

.togglePublishedButton {
    background-color:  transparent;
    border-bottom: 1px solid black;
    color: black;
    margin-top: 2px;
}

.editButton:hover {
    background-color: #0056b3;
    color: white
}


.deleteButton:hover {
    background-color: #f44336;
}

.togglePublishedButton:hover {
    background-color: #45a049;
}

.productBtnWrap button {
    margin-right: 5px;
}


.productItem img {
    max-width: 100%;
    border-radius: 4px;
}

.productItem p:last-of-type {
    margin-bottom: 10px;
}