.productListContainer {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
}

.statusFilter {
    /* Додайте стилі для розміщення світчера на одному рівні з вкладками */
}