.productItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc((100% / 4) - 36px);
    border-radius: 8px;
    padding: 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

.showInfoButton {
    font-size: 12px;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #082748;
    color: #082748;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.showInfoButton:hover,
.showInfoButton:focus {
    background-color: #0056b3;
    color: white
}

.editButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: fill 0.3s ease;
}

.iconEdit,
.iconDelete {
    width: 20px;
    height: 20px;
    stroke: #0056b3;
    fill: white;
    transition: stroke 0.3s ease, fill 0.3s ease;
}
.editButton:hover .iconEdit,
.deleteButton:hover .iconDelete,
.editButton:focus .iconEdit,
.deleteButton:focus .iconDelete {
    /* stroke: #0056b3; */
    fill: #0056b3;
    transition: stroke 0.3s ease, fill 0.3s ease;
}
